#wishlist .extendedCart {
	margin: 10px 0;
	}
#wishlist .extendedDelete {
	float: right;
	text-align:right;
	margin: 50px 0;
	}
#wishlist .buttons {
	text-align: right; 
	margin-top: 25px;
	float:right;
	}

#wishlist dl.pageresults {
	margin: 25px 0 0 0;
	padding: 0;
	float:left;
	}
	
#wishlist dd, #wishlist form {
	margin: 0;
	padding: 0;
	}

#wishlist fieldset {
	border: 1px solid #9a9a9a;
	margin: 0 0 10px 0;
	padding: 10px;
	}

#wishlist legend {
	border: 1px solid #9a9a9a;
	background-color: #abbbd3;
	padding: 5px;
	}

#wishlist label.block {
	display: block;
	color: #930;
	margin-top: 7px;
	}

#wishlist label.inline {
	display: inline;
	color: #930;
	}

#wishlist form.control, #wishlist form.moveto {
	margin: 0 0 30px 0;
	padding: 0;
	}

#wishlist form.control fieldset {
	border: 0;
	margin: 2px 0 1px 0;
	padding: 0;
	}

#wishlist form.control label {
	display: block;
	color: #000;
	margin-top: 0px;
	}

#wishlist form.control div.single {
	padding: 3px 5px;  
	}

#wishlist form.control div.multiple {
	padding: 3px 5px; 
	float: left; 
	}

#wishlist form.control div.multiple label {
	display: block;
	}

#wishlist div.clearleft {
	padding: 0; 
	margin: 0; 
	clear:left; 
	}

#wishlist .s {
	width: 50px;
	}

#wishlist .m {
	width: 100px;
	}

#wishlist .l {
	width: 175px;
	}

#wishlist .xl {
	width: 300px;
	}

	
#wishlist .footnote {
	color: #666;
	font-size: x-small;
	padding-top: 0;
	margin-top: 20px;
	}

#wishlist table.productlist th {
	padding: 2px;
	}

#wishlist table.productlist th.right, #wishlist table.productlist th.center {
	text-align: center;
	}

#wishlist table.productlist td {
	border-top: 1px solid #9a9a9a;
	padding: 2px;
	}
	
#wishlist table.productlist td.odd-right {
	text-align: right;
	}
	
#wishlist table.productlist td.odd-center {
	text-align: center;
	}
	
#wishlist table.productlist td.even {
	background-color: #eff4f8;
	}
	
#wishlist table.productlist td.even-right {
	background-color: #eff4f8;
	text-align: right;
	}
	
#wishlist table.productlist td.even-center {
	background-color: #eff4f8;
	text-align: center;
	}
#wishlist img.productlist {
	height:auto;
	width:auto;
	}

#wishlist div.wishlistfields {
	margin: 10px 0px 0px 0px;
	padding: 10px 0px; 
	}

#wishlist ul {
	list-style: none none outside;
	padding-left: 0em;
	margin-left: 0px;
	margin-top: 0px;
	}

#wishlist ol {
	padding-left: 2.2em;
	margin-left: 0px;
	margin-top: 0px;
	text-indent: -0.4em;
	}

#wishlist ol li {
	line-height: 1.4em;
	}

#wishlist .inputrequirement {
	color: #379;
	}

#wishlist p.inputrequirement {
	text-align: right;
	}

#wishlist .notabene { 
	font-weight: 600;
	margin: 10px 0;
	}
	
#wishlist .price { 
	font-size:14px;
	}
.product_wishlist_name {
    margin: 0 0 10px;
	font-size:14px;
	font-weight:600;
}
.wishlist-odd, .wishlist-even {
	padding: 10px 10px 10px 0;
}
#wishlist .wishlist-odd, #wishlist .wishlist-even {
    border-bottom: 1px solid #E7E7E7;
    float: left;    
    padding: 20px 0 15px;
    width: 100%;
}
#wishlist .product_wishlist_information {
    margin: 30px 0;
}
#wishlist .product_attribute {
    margin-top: 30px;
}
/*
label.tabbed-m {
	display: inline;
	float: left; 
	width: 7em; 
	text-align: left;
	clear: left;
	}
*/